# Data Merge

In [16]:
from glob import glob
import os
import pandas as pd
import numpy as np
from tqdm import tqdm, trange
import cv2

df1 = pd.read_csv('autodl-tmp/final_data_224/rp2k/rp2k_final_224.csv')
df3 = pd.read_csv('autodl-tmp/final_data_224/JD_Products_10K/JD_product10K_train_final_224.csv')
df4 = pd.read_csv('autodl-tmp/final_data_224/Shopee/Shopee_final_224.csv')
df6 = pd.read_csv('autodl-tmp/final_data_224/Aliproducts/Aliproducts_final_224.csv')
# df9 = pd.read_csv('autodl-tmp/final_data_224/DeepFashion_CTS/DeepFashion_CTS_final_224.csv')
# df11 = pd.read_csv('autodl-tmp/final_data_224/DeepFashion2/DeepFashion2_final_224.csv')
# df12 = pd.read_csv('autodl-tmp/final_data_224/Fashion_200K/Fashion_200K_final_224.csv')
df13 = pd.read_csv('autodl-tmp/final_data_224/Stanford_Products/Stanford_Products_final_224.csv')
display(df1.head(1))
display(df3.head(1))
display(df4.head(1))
display(df6.head(1))
# display(df9.head(1))
# display(df11.head(1))
# display(df12.head(1))
display(df13.head(1))

                                         image_files  labels
0  autodl-tmp/final_data_224/rp2k/images/0514_116...       0

    name  class  group Usage
0  1.jpg      0    0.0   NaN

,posting_id,image,image_phash,title,label_group
0,train_1646767365,1d7aadc7503b2b4539cc9a5fe41979dd.jpg,e925873ed09cd08f,Sarung celana wadimor original 100% dewasa dan...,258047

                                         image_files  labels
0  autodl-tmp/ori_data/Aliproducts/train9/val/447...       1

                                         image_files  labels
0  autodl-tmp/ori_data/Stanford_Online_Products/c...       0

In [15]:
df1_labels = df1['labels'].unique()
df3_labels = df3['class'].unique()
df4_labels = df4['label_group'].unique()
df6_labels = df6['labels'].unique()
# df9_labels = df9['labels'].unique()
# df11_labels = df11['labels'].unique()
# df12_labels = df12['labels'].unique()
df13_labels = df13['labels'].unique()
df1[['new_image_files', 'new_labels']] = [0,0]
df3[['new_image_files', 'new_labels']] = [0,0]
df4[['new_image_files', 'new_labels']] = [0,0]
df6[['new_image_files', 'new_labels']] = [0,0]
# df9[['new_image_files', 'new_labels']] = [0,0]
# df11[['new_image_files', 'new_labels']] = [0,0]
# df12[['new_image_files', 'new_labels']] = [0,0]
df13[['new_image_files', 'new_labels']] = [0,0]
print(len(df1_labels))
print(len(df3_labels))
print(len(df4_labels))
print(len(df6_labels))
# print(len(df9_labels))
# print(len(df11_labels))
# print(len(df12_labels))
print(len(df13_labels))

2348
9691
3734
27619
11190

* rp2k

In [ ]:
PATH = 'autodl-tmp/final_data_224/rp2k/images'
label_count = 0
for i in trange(len(df1)):
    new_path = df1.loc[i, 'image_files']
    df1.loc[i, 'new_image_files'] = new_path
    df1.loc[i, 'new_labels'] = np.argwhere(df1_labels==df1.loc[i, 'labels'])[0,0]+label_count
img = cv2.imread(df1.loc[0, 'new_image_files'])
df1.drop(columns=['image_files', 'labels'], inplace=True)
df1.head(1)

  2%|‚ñè         | 6392/384183 [00:40<40:02, 157.24it/s]

* JD_Products_10K

In [ ]:
PATH = 'autodl-tmp/final_data_224/JD_Products_10K/images'
label_count = len(df1_labels)
for i in trange(len(df3)):
    path = os.path.join(PATH, df3.loc[i, 'name'])
    df3.loc[i, 'new_image_files'] = path
    df3.loc[i, 'new_labels'] = np.argwhere(df3_labels==df3.loc[i, 'class'])[0,0]+label_count
img = cv2.imread(df3.loc[0, 'new_image_files'])
df3.drop(columns=['name', 'class', 'group'], inplace=True)
df3.head(1)

* Shopee

In [ ]:
PATH = 'autodl-tmp/final_data_224/Shopee/images'
label_count = len(df1_labels)+len(df3_labels)
for i in trange(len(df4)):
    path = os.path.join(PATH, df4.loc[i, 'image'])
    df4.loc[i, 'new_image_files'] = path
    df4.loc[i, 'new_labels'] = np.argwhere(df4_labels==df4.loc[i, 'label_group'])[0,0]+label_count
img = cv2.imread(df4.loc[0, 'new_image_files'])
df4.drop(columns=['posting_id', 'image','image_phash', 'title', 'label_group'], inplace=True)
df4.head(1)

* Ali_product

In [ ]:
PATH = 'autodl-tmp/final_data_224/Aliproducts/images'
label_count = len(df1_labels)+len(df3_labels)+len(df4_labels)
for i in trange(len(df6)):
    path = os.path.join(PATH, df6.loc[i, 'image_files'].split('/')[-1])
    df6.loc[i, 'new_image_files'] = path
    df6.loc[i, 'new_labels'] = np.argwhere(df6_labels==df6.loc[i, 'labels'])[0,0]+label_count
img = cv2.imread(df6.loc[0, 'new_image_files'])
df6.drop(columns=['image_files', 'labels'], inplace=True)
df6.head(1)

* DeepFashion_CTS

In [ ]:
# label_count = len(df1_labels)+len(df3_labels)+len(df4_labels)+len(df6_labels)
# for i in trange(len(df9)):
#     new_path = df9.loc[i, 'image_files']
#     df9.loc[i, 'new_image_files'] = new_path
#     df9.loc[i, 'new_labels'] = np.argwhere(df9_labels==df9.loc[i, 'labels'])[0,0]+label_count
# img = cv2.imread(df9.loc[0, 'new_image_files'])
# df9.drop(columns=['image_files', 'labels'], inplace=True)
# df9.head(1)

* DeepFashion2

In [ ]:
# label_count = len(df1_labels)+len(df3_labels)+len(df4_labels)+len(df6_labels)+len(df9_labels)
# for i in trange(len(df11)):
#     new_path = df11.loc[i, 'image_files']
#     df11.loc[i, 'new_image_files'] = new_path
#     df11.loc[i, 'new_labels'] = np.argwhere(df11_labels==df11.loc[i, 'labels'])[0,0]+label_count
# img = cv2.imread(df11.loc[0, 'new_image_files'])
# df11.drop(columns=['image_files', 'labels'], inplace=True)
# df11.head(1)

* Fashion200K

In [ ]:
# label_count = len(df1_labels)+len(df3_labels)+len(df4_labels)+len(df6_labels)+len(df9_labels)+len(df11_labels)
# for i in trange(len(df12)):
#     new_path = df12.loc[i, 'image_files']
#     df12.loc[i, 'new_image_files'] = new_path
#     df12.loc[i, 'new_labels'] = np.argwhere(df12_labels==df12.loc[i, 'labels'])[0,0]+label_count
# img = cv2.imread(df12.loc[0, 'new_image_files'])
# df12.drop(columns=['image_files', 'labels'], inplace=True)
# df12.head(1)

* Standford_Product

In [ ]:
label_count = len(df1_labels)+len(df3_labels)+len(df4_labels)+len(df6_labels)
for i in trange(len(df13)):
    path = df13.loc[i, 'image_files']
    new_path = 'autodl-tmp/final_data_224/Stanford_Products/images/'+path.split('/')[-1]
    df13.loc[i, 'new_image_files'] = new_path
    df13.loc[i, 'new_labels'] = np.argwhere(df13_labels==df13.loc[i, 'labels'])[0,0]+label_count
img = cv2.imread(df13.loc[0, 'new_image_files'])
df13.drop(columns=['image_files', 'labels'], inplace=True)
df13.head(1)

### Merge

In [9]:
df_merge = pd.concat([df1,df3,df4,df6,df13], axis=0)
df_merge['new_labels'] = df_merge['new_labels'].astype('int64')
df_merge = df_merge.reset_index(drop=True)
df_merge.to_csv('autodl-tmp/final_data_224.csv', index=False)
print(df_merge.shape[0],df_merge['new_labels'].nunique())
df_merge.head(5)

789509 54582

                                     new_image_files  new_labels Usage
0  autodl-tmp/final_data_224/rp2k/images/0514_116...           0   NaN
1  autodl-tmp/final_data_224/rp2k/images/0514_394...           0   NaN
2  autodl-tmp/final_data_224/rp2k/images/0514_256...           0   NaN
3  autodl-tmp/final_data_224/rp2k/images/0430_791...           0   NaN
4  autodl-tmp/final_data_224/rp2k/images/0514_174...           0   NaN

#### Sample

In [10]:
import pandas as pd
from tqdm import tqdm
df = pd.read_csv('autodl-tmp/final_data_224.csv')
new_groups = []
for label, group in tqdm(df.groupby('new_labels')):
    group = group.reset_index(drop=True)
    if len(group)>100:
        group = group.sample(100)
    new_groups.append(group)
new_df = pd.concat(new_groups, axis=0).reset_index(drop=True)
print('num:', df.shape[0], 'classes:', df['new_labels'].nunique())
print('----->>>')
print('num:', new_df.shape[0], 'classes:', new_df['new_labels'].nunique())
new_df.to_csv('autodl-tmp/final_data_224_sample.csv')
new_df.head(5)

/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3397: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 54582/54582 [00:03<00:00, 16323.14it/s]

num: 789509 classes: 54582
----->>>
num: 529475 classes: 54582

                                     new_image_files  new_labels Usage
0  autodl-tmp/final_data_224/rp2k/images/0514_191...           0   NaN
1  autodl-tmp/final_data_224/rp2k/images/0514_509...           0   NaN
2  autodl-tmp/final_data_224/rp2k/images/0506_476...           0   NaN
3  autodl-tmp/final_data_224/rp2k/images/0511_307...           0   NaN
4  autodl-tmp/final_data_224/rp2k/images/0506_282...           0   NaN

#### Resample

In [11]:
import pandas as pd
from tqdm import tqdm
import math
min_ = 20
df = pd.read_csv('autodl-tmp/final_data_224_sample.csv')
new_groups = []
for label, group in tqdm(df.groupby('new_labels')):
    group = group.reset_index(drop=True)
    if len(group)<min_:
        n = min_//len(group)
        for i in range(n):
            new_groups.append(group)
        if min_%len(group)!=0:
            new_groups.append(group.sample(min_%len(group)))
    else:
        new_groups.append(group)
new_df = pd.concat(new_groups, axis=0).reset_index(drop=True)
print('num:', df.shape[0], 'classes:', df['new_labels'].nunique())
print('----->>>')
print('num:', new_df.shape[0], 'classes:', new_df['new_labels'].nunique())
new_df.to_csv('autodl-tmp/final_data_224_sample_balance.csv', index=False)
new_df.head(5)

/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3397: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 54582/54582 [00:06<00:00, 9063.29it/s]

num: 529475 classes: 54582
----->>>
num: 1219458 classes: 54582

,Unnamed: 0,new_image_files,new_labels,Usage
0,0,autodl-tmp/final_data_224/rp2k/images/0514_191...,0,NaN
1,1,autodl-tmp/final_data_224/rp2k/images/0514_509...,0,NaN
2,2,autodl-tmp/final_data_224/rp2k/images/0506_476...,0,NaN
3,3,autodl-tmp/final_data_224/rp2k/images/0511_307...,0,NaN
4,4,autodl-tmp/final_data_224/rp2k/images/0506_282...,0,NaN

In [12]:
df = pd.read_csv('autodl-tmp/final_data_224.csv')
for idx, row in tqdm(df.iterrows()):
    path = row['new_image_files']
    img = cv2.imread(path)
    if img is None:
        print(path)
        break

/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3397: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
436425it [03:47, 1921.32it/s]

KeyboardInterrupt