# Data Merge

In [1]:
from glob import glob
import os
import pandas as pd
import numpy as np
from tqdm import tqdm, trange
import cv2

df1 = pd.read_csv('final_data_224/rp2k/rp2k_final_224.csv')
df2 = pd.read_csv('final_data_224/Products10K/products10K_final_224.csv')
df3 = pd.read_csv('final_data_224/Shopee/Shopee_final_224.csv')
df4 = pd.read_csv('final_data_224/grocery_dataset/grocery_dataset_final_224.csv')
df5 = pd.read_csv('final_data_224/deepFashion/DeepFashion_final_224.csv')
df6 = pd.read_csv('final_data_224/DeepFashion2/DeepFashion2_final_224.csv')
df7 = pd.read_csv('final_data_224/Fashion_200K/Fashion_200K_final_224.csv')
df8 = pd.read_csv('final_data_224/Stanford_Products/Stanford_Products_final_224.csv')
display(df1.head(1))
display(df2.head(1))
display(df3.head(1))
display(df4.head(1))
display(df5.head(1))
display(df6.head(1))
display(df7.head(1))
display(df8.head(1))

                                 image_files  labels
0  final_data_224/rp2k/images/0430_16363.jpg       0

    name  class  group
0  1.jpg      0      0

,posting_id,image,image_phash,title,label_group
0,train_1646767365,1d7aadc7503b2b4539cc9a5fe41979dd.jpg,e925873ed09cd08f,Sarung celana wadimor original 100% dewasa dan...,258047

                                         image_files  labels
0  final_data_224/grocery_dataset/images/valPinea...       0

                                         image_files  labels
0  final_data_224/deepFashion/images/f_0_0_comsum...       0

                                       image_files  labels
0  final_data_224/DeepFashion2/images/0_026006.jpg       0

                                         image_files  labels
0  final_data_224/Fashion_200K/images/denim_jacke...    2388

                                         image_files  labels
0  final_data_224/Stanford_Products/images/coffee...       0

In [2]:
df1_labels = df1['labels'].unique()
df2_labels = df2['class'].unique()
df3_labels = df3['label_group'].unique()
df4_labels = df4['labels'].unique()
df5_labels = df5['labels'].unique()
df6_labels = df6['labels'].unique()
df7_labels = df7['labels'].unique()
df8_labels = df8['labels'].unique()

df1[['new_image_files', 'new_labels']] = [0,0]
df2[['new_image_files', 'new_labels']] = [0,0]
df3[['new_image_files', 'new_labels']] = [0,0]
df4[['new_image_files', 'new_labels']] = [0,0]
df5[['new_image_files', 'new_labels']] = [0,0]
df6[['new_image_files', 'new_labels']] = [0,0]
df7[['new_image_files', 'new_labels']] = [0,0]
df8[['new_image_files', 'new_labels']] = [0,0]

print(len(df1_labels))
print(len(df2_labels))
print(len(df3_labels))
print(len(df4_labels))
print(len(df5_labels))
print(len(df6_labels))
print(len(df7_labels))
print(len(df8_labels))

2348
7907
3734
27
15
13
31
12

* rp2k

In [3]:
PATH = 'final_data_224/rp2k/images'
label_count = 0

for i in trange(len(df1)):
    new_path = df1.loc[i, 'image_files']
    df1.loc[i, 'new_image_files'] = new_path
    df1.loc[i, 'new_labels'] = np.argwhere(df1_labels==df1.loc[i, 'labels'])[0,0]+label_count
img = cv2.imread(df1.loc[0, 'new_image_files'])
df1.drop(columns=['image_files', 'labels'], inplace=True)
df1.head(1)

100%|█████████████████████████████████| 384183/384183 [00:58<00:00, 6575.41it/s]

                             new_image_files  new_labels
0  final_data_224/rp2k/images/0430_16363.jpg           0

* JD_Products_10K

In [4]:
PATH = 'final_data_224/Products10K/images'
label_count = len(df1_labels)

for i in trange(len(df2)):
    path = os.path.join(PATH, df2.loc[i, 'name'])
    df2.loc[i, 'new_image_files'] = path
    df2.loc[i, 'new_labels'] = np.argwhere(df2_labels==df2.loc[i, 'class'])[0,0]+label_count
img = cv2.imread(df2.loc[0, 'new_image_files'])
df2.drop(columns=['name', 'class', 'group'], inplace=True)
df2.head(1)

100%|█████████████████████████████████| 135670/135670 [00:21<00:00, 6284.50it/s]

                           new_image_files  new_labels
0  final_data_224/Products10K/images/1.jpg        2348

* Shopee

In [5]:
PATH = 'final_data_224/Shopee/images'
label_count = len(df1_labels)+len(df2_labels)

for i in trange(len(df3)):
    path = os.path.join(PATH,df3.loc[i, 'image'])
    df3.loc[i, 'new_image_files'] = path
    df3.loc[i, 'new_labels'] = np.argwhere(df3_labels==df3.loc[i, 'label_group'])[0,0]+label_count
img = cv2.imread(df3.loc[0, 'new_image_files'])
df3.drop(columns=['posting_id', 'image','image_phash', 'title', 'label_group'], inplace=True)
df3.head(1)

100%|███████████████████████████████████| 17868/17868 [00:02<00:00, 6236.97it/s]

                                     new_image_files  new_labels
0  final_data_224/Shopee/images/1d7aadc7503b2b453...       10255

* Grocery dataset

In [6]:
label_count = len(df1_labels)+len(df2_labels)+len(df3_labels)

for i in trange(len(df4)):
    new_path = df4.loc[i, 'image_files']
    df4.loc[i, 'new_image_files'] = new_path
    df4.loc[i, 'new_labels'] = np.argwhere(df4_labels==df4.loc[i, 'labels'])[0,0]+label_count
img = cv2.imread(df4.loc[0, 'new_image_files'])
df4.drop(columns=['image_files', 'labels'], inplace=True)
df4.head(1)

100%|█████████████████████████████████████| 1824/1824 [00:00<00:00, 6386.57it/s]

                                     new_image_files  new_labels
0  final_data_224/grocery_dataset/images/valPinea...       13989

* DeepFashion_CTS

In [7]:
label_count = len(df1_labels)+len(df2_labels)+len(df3_labels)+len(df4_labels)

for i in trange(len(df5)):
    new_path = df5.loc[i, 'image_files']
    df5.loc[i, 'new_image_files'] = new_path
    df5.loc[i, 'new_labels'] = np.argwhere(df5_labels==df5.loc[i, 'labels'])[0,0]+label_count
img = cv2.imread(df5.loc[0, 'new_image_files'])
df5.drop(columns=['image_files', 'labels'], inplace=True)
df5.head(1)

100%|█████████████████████████████████| 180853/180853 [00:27<00:00, 6607.22it/s]

                                     new_image_files  new_labels
0  final_data_224/deepFashion/images/f_0_0_comsum...       14016

* DeepFashion2

In [8]:
label_count = len(df1_labels)+len(df2_labels)+len(df3_labels)+len(df4_labels)+len(df5_labels)

for i in trange(len(df6)):
    new_path = df6.loc[i, 'image_files']
    df6.loc[i, 'new_image_files'] = new_path
    df6.loc[i, 'new_labels'] = np.argwhere(df6_labels==df6.loc[i, 'labels'])[0,0]+label_count
img = cv2.imread(df6.loc[0, 'new_image_files'])
df6.drop(columns=['image_files', 'labels'], inplace=True)
df6.head(1)

100%|█████████████████████████████████| 180024/180024 [00:27<00:00, 6584.70it/s]

                                   new_image_files  new_labels
0  final_data_224/DeepFashion2/images/0_026006.jpg       14031

* Fashion200K

In [9]:
label_count = len(df1_labels)+len(df2_labels)+len(df3_labels)+len(df4_labels)+len(df5_labels)+ \
len(df6_labels)

for i in trange(len(df7)):
    new_path = df7.loc[i, 'image_files']
    df7.loc[i, 'new_image_files'] = new_path
    df7.loc[i, 'new_labels'] = np.argwhere(df7_labels==df7.loc[i, 'labels'])[0,0]+label_count
img = cv2.imread(df7.loc[0, 'new_image_files'])
df7.drop(columns=['image_files', 'labels'], inplace=True)
df7.head(1)

100%|█████████████████████████████████| 338339/338339 [00:51<00:00, 6606.65it/s]

                                     new_image_files  new_labels
0  final_data_224/Fashion_200K/images/denim_jacke...       14044

* Standford_Product

In [10]:
label_count = len(df1_labels)+len(df2_labels)+len(df3_labels)+len(df4_labels)+len(df5_labels)+len(df6_labels)+ \
len(df7_labels)

for i in trange(len(df8)):
    new_path = df8.loc[i, 'image_files']
    df8.loc[i, 'new_image_files'] = new_path
    df8.loc[i, 'new_labels'] = np.argwhere(df8_labels==df8.loc[i, 'labels'])[0,0]+label_count
img = cv2.imread(df8.loc[0, 'new_image_files'])
df8.drop(columns=['image_files', 'labels'], inplace=True)
df8.head(1)

100%|█████████████████████████████████| 120053/120053 [00:18<00:00, 6652.61it/s]

                                     new_image_files  new_labels
0  final_data_224/Stanford_Products/images/coffee...       14075

### Merge

In [11]:
df_merge = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8], axis=0)
df_merge['new_labels'] = df_merge['new_labels'].astype('int64')
df_merge = df_merge.reset_index(drop=True)
df_merge.to_csv('final_data_224/final_data_224.csv', index=False)
print(df_merge.shape[0],df_merge['new_labels'].nunique())
df_merge.head(5)

1358814 14087

                                 new_image_files  new_labels
0      final_data_224/rp2k/images/0430_16363.jpg           0
1       final_data_224/rp2k/images/1031_3590.jpg           0
2       final_data_224/rp2k/images/1031_7966.jpg           0
3  final_data_224/rp2k/images/0514_47167_1.0.jpg           0
4  final_data_224/rp2k/images/0514_10245_1.0.jpg           0

#### Sample

In [12]:
import pandas as pd
from tqdm import tqdm
df = pd.read_csv('final_data_224/final_data_224.csv')
new_groups = []
for label, group in tqdm(df.groupby('new_labels')):
    group = group.reset_index(drop=True)
    if len(group)>100:
        group = group.sample(100)
    new_groups.append(group)
new_df = pd.concat(new_groups, axis=0).reset_index(drop=True)
print('num:', df.shape[0], 'classes:', df['new_labels'].nunique())
print('----->>>')
print('num:', new_df.shape[0], 'classes:', new_df['new_labels'].nunique())
new_df.to_csv('final_data_224/final_data_224_sample.csv')
new_df.head(5)

100%|██████████████████████████████████| 14087/14087 [00:00<00:00, 15902.99it/s]

num: 1358814 classes: 14087
----->>>
num: 286460 classes: 14087

                                 new_image_files  new_labels
0      final_data_224/rp2k/images/1031_16027.jpg           0
1  final_data_224/rp2k/images/0514_25265_1.0.jpg           0
2  final_data_224/rp2k/images/0514_40774_1.0.jpg           0
3      final_data_224/rp2k/images/1031_15353.jpg           0
4       final_data_224/rp2k/images/1031_7395.jpg           0

#### Resample

In [13]:
import pandas as pd
from tqdm import tqdm
import math
min_ = 20
df = pd.read_csv('final_data_224/final_data_224_sample.csv')
new_groups = []
for label, group in tqdm(df.groupby('new_labels')):
    group = group.reset_index(drop=True)
    if len(group)<min_:
        n = min_//len(group)
        for i in range(n):
            new_groups.append(group)
        if min_%len(group)!=0:
            new_groups.append(group.sample(min_%len(group)))
    else:
        new_groups.append(group)
new_df = pd.concat(new_groups, axis=0).reset_index(drop=True)
print('num:', df.shape[0], 'classes:', df['new_labels'].nunique())
print('----->>>')
print('num:', new_df.shape[0], 'classes:', new_df['new_labels'].nunique())
new_df.to_csv('final_data_224/final_data_224_sample_balance.csv', index=False)
new_df.head(5)

100%|██████████████████████████████████| 14087/14087 [00:01<00:00, 10133.14it/s]

num: 286460 classes: 14087
----->>>
num: 396020 classes: 14087

   Unnamed: 0                                new_image_files  new_labels
0           0      final_data_224/rp2k/images/1031_16027.jpg           0
1           1  final_data_224/rp2k/images/0514_25265_1.0.jpg           0
2           2  final_data_224/rp2k/images/0514_40774_1.0.jpg           0
3           3      final_data_224/rp2k/images/1031_15353.jpg           0
4           4       final_data_224/rp2k/images/1031_7395.jpg           0

In [14]:
df = pd.read_csv('final_data_224/final_data_224.csv')
for idx, row in tqdm(df.iterrows()):
    path = row['new_image_files']
    img = cv2.imread(path)
    if img is None:
        print(path)
        break

1358814it [12:28, 1815.54it/s]